{
  "extends": [
    "eslint-config-unjs"
  ],
  "rules": {
    "unicorn/no-null": 0,
    "unicorn/prevent-abbreviations": 0,
    "unicorn/prefer-module": 0,
    "unicorn/prefer-top-level-await": 0
  }
}
